<div class="container">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col ">
            <a href="https://github.com/isaiasvas/gestor-financeiro-agenda" target="_blank" class="text-decoration-none">
                <div
                    class="card card-cover h-100 overflow-hidden text-bg-dark bg-dark bg-gradient rounded-4 shadow-custom">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Gestor financeiro com agenda</h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-3">
                                <img src="../../public/img/laravel-logo.min.svg" alt="Bootstrap" width="32"
                                    height="32" class="img-fluid">
                            </li>
                            <li class="me-auto">
                                <img src="../../public/img/laravel-logo-text.min.svg" alt="Bootstrap" width="80"
                                    height="32" class="img-fluid">
                            </li>
                            <li class="d-flex align-items-center">

                                <small>PHP (Laravel)</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="https://github.com/isaiasvas/stock-manager" target="_blank" class="text-decoration-none">
                <div
                    class="card card-cover h-100 overflow-hidden text-bg-dark bg-dark bg-gradient rounded-4 shadow-custom">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Gestor de estoque API</h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-3">
                                <img src="../../public/img/python-logo.png" alt="Bootstrap" width="32"
                                    height="32" class="img-fluid">
                            </li>
                            <li class="me-auto">
                                <img src="../../public/img/django-logo-negative.svg" alt="Bootstrap" width="80"
                                    height="32" class="img-fluid">
                            </li>
                            <li class="d-flex align-items-center">
                                <small>Python (Django)</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="#" target="_blank" class="text-decoration-none">
                <div
                    class="card card-cover h-100 overflow-hidden text-bg-dark bg-dark bg-gradient rounded-4 shadow-custom">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Ecommerce Kingkeg (Em construção...)</h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-3">
                                <img src="../../public/img/python-logo.png" alt="Bootstrap" width="32"
                                    height="32" class="img-fluid">
                            </li>
                            <li class="me-auto align-items-left">
                                <img src="../../public/img/logo_dark.svg" alt="Bootstrap" width="32" height="32"
                                    class="img-fluid">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <small>Python</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <small>ReactJS</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
